<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Image</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
<% @listings.each do |listing| %>
<tr>
  <td scope="row"><%= image_tag(listing.image, width: 200) if listing.image.attached? %></td>
  <td><%= listing.name %></td>
  <td><%= number_to_currency(listing.price) %></td>
  <td><%= listing.description %></td>
  <td>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-primary"><a class="dropdown-item" href="#"><%= link_to "View", listing %></a></button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
      <% if user_signed_in? %>
      <a class="dropdown-item" href="#"><%= link_to "Edit", edit_listing_path(listing), class: "btn btn-link"  %></a>
      <a class="dropdown-item" href="#">  <%= link_to "Destroy", listing, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-link"%></a>
      <% end %>
    </div>
  </div>
</div>
  </td>
</tr>
<% end %>
</tbody>
</table>

<br>
